<h1 class="m-title">Our Info</h1>
<div class="card">
  <p>Email: admin@examshedule.com</p>
  <p>Phone: 012 xxx xxx xxx</p>
  <p>Address: #168, st. m_road, m_district, m_city, m_country</p>
  <p>Work day: Monday - Saturday</p>
  <p>Work time: 8:00 - 12:00 & 1:00 - 5:00</p>
</div>
