<h1><%= t ".welcome" %></h1>
<div class="hero-image">
  <div class="hero-text">
    <b><h1 style="font-size:45px">Exam Scheduling Site</h1></b>
    <br><h4>Advantage for all students and supervisor</h4>
    <br><button><%= link_to "Our info", contact_url %></button>
  </div>
</div>
